.form__text {
   font-size: 14px;
    line-height: 30px;
    color: #283645;
    text-align: center;
    padding: 0 20px;
    padding-top: 25px;
    
//background-color: rgba(118,27,174,.5);
    &--hidden {
        display: none;
    }
}

@media (min-width: @tablet-width) {
    .form__text {
        width: 530px;
       font-size: 18px;
        margin: auto;
        padding-top: 100px;
        padding-bottom: 85px;
     &--hidden {   
        display: block;
       //  outline: 1px dashed yellowgreen;
     }
    }
}

@media (min-width: @desktop-width) {
    .form__text {
        width: 805px;
        padding-bottom: 70px;
        
        &--hidden {   
        display: inline;
       
     }
    }
}