.form__user-achievements {
    height: 605px;
    background-color: burlywood;
    
    width: 940px;
    box-sizing: border-box;
}

@media (min-width: @tablet-width) {
    .form__user-achievements {
        height: 620px;
    }
}

@media (min-width: @desktop-width) {
    .form__user-achievements {
        height: 295px;
    }
}