.form__user-contacts {
    height: 290px;
    background-color: brown;
    width: 940px;
    box-sizing: border-box;
    order: 1;
}
@media (min-width: @tablet-width) {
    .form__user-contacts {
        height: 375px;
        order: 0;
    }
}

@media (min-width: @desktop-width) {
    .form__user-contacts {
        height: 230px;
        order: 0;
    }
}