.form__os {
   width: 280px;
   order: 2;
    background-color: #f2f2f2;
    padding-top: 40px;
    color: black;
}

.os {
    
    &__fieldset {
        border: none;
    }
    &__legend {
        display: none;
    }
    &__text {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: @pink;
        text-transform: uppercase;
    }
    & input {
       margin-right: 30px;
       margin-bottom: 55px;
    }
    
}
@media (min-width: @tablet-width) {
    .form__os {
        width: 620px;
        background-color: white;
        order: 0;
        padding-top: 10px;
    }
    .os {
        &__text {
            display: none;
        }
        &__fieldset {
            
            border: 2px solid #e5e5e5;
        }
        &__legend {
            display: block;
            color: @pink;
            text-align: center;
            padding: 0 25px;
            font-size: 14px;
        line-height: 30px;
        text-align: center;
        color: @pink;
        text-transform: uppercase;
      }
    }
}

@media (min-width: @desktop-width) {
    .form__os {
         width: 450px;
        padding-top: 0px;
        order: 0;
    }
    .os {
        & input {
           margin-left: 75px;
        }
    }
}