.form__user-contacts {
    width: 320px;
    box-sizing: border-box;
    padding: 40px 20px;
    
    order: 1;
    
    background-color: white;
}
.user-contacts {
    &__fieldset {
        border: none;
        padding: 0;
    }
    &__legend {
        display: none;
    }
    &__wrapper {
     /*  height: 95px;
        display: flex;
        flex-direction: column; */
        outline: 1px solid brown;
    }
    &__label {
        color: @pink;
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 20px;
        outline: 1px solid red;
        
    }
    & input {
        width: 100%;
        height: 63px;
        font-size: 18px;
        vertical-align: middle;
        color: black;
        box-sizing: border-box;
        border: 2px solid #e5e5e5;
        border-radius: 3px;
              
        padding: 0 22px;
        &:hover {
            border-color: #273545;
        }
        &:focus {
             border-color: @pink;
           outline: none;
        }
    }
}
@media (min-width: @tablet-width) {
    .form__user-contacts {
        
        order: 0;
    }
    .user-contacts {
        &__fieldset {
            width: 620px;
            box-sizing: border-box;
         border: 2px solid #e5e5e5;
        padding: 40px 60px;
      }
        &__legend {
           display: block;
            color: @pink;
            padding: 0 25px;
            font-size: 14px;
            line-height: 30px;
            text-transform: uppercase;
            text-align: center;
      }
        &__label {
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 60px;
                height: 59px;
                background-color: #e5e5e5;
               
                top: 22px;
                left: 434px;
            }
        }
    }
}

@media (min-width: @desktop-width) {
    .form__user-contacts {
       width: 1200px;
        padding: 0 130px;
        order: 0;
    }
    .user-contacts {
        &__fieldset {
            width: 940px;
      }
        &__legend {
           padding: 0 31px;
            
      }
        &__label {
            
           /*&::before {
                position: absolute;
                content: "";
                width: 60px;
                height: 59px;
                background-color: #e5e5e5;
               
                top: 22px;
                left: 434px;*/
            }
        }
    }