.features {
    outline: 1px dashed rgba(212,88,131,0.5);
    
    text-align: center;
    
    width: 320px;
    color: black;
    margin-top: 35px;
    
    &__wrapper  {
      background-color: #f2f2f2;  
        padding: 0 20px;
        position: relative;
         margin-top: 110px;
        
        height: 700px;
    
        
        background-image: url("../img/iphone-screen-mobile@1x.png");
        background-repeat: no-repeat;
        background-position: center bottom -45px;
        
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: inherit;
            z-index: -1;
            top: -75px;
            right: 0px;
            transform-origin: right bottom;
            transform: skewY(-5deg);   
        }
    }
    
    &__text {
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
       
        outline: 1px dashed green;
    }
    &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
       
    }
    &__item {
        font-size: 14px;
        line-height: 24px;
        color: #283645;
    }
    
    &__effect {
        display: none;
    }
}
@media (min-width: @tablet-width) {
    .features {
        width: 660px;
        
        margin-top: 57px;
        
        &__text {
            display: block;
            font-size: 40px;
            line-height: 45px;
            margin: 0;
            margin-bottom: 15px;
            &--diff {
                display: block;
                width: 335px;
                margin: 0 auto;
                margin-bottom: 110px;
            }
        }
        &__wrapper {
            height: 500px;
   /*         background-image: url("../img/iphone-screen-3-tablet@1x.png");
            background-repeat: no-repeat;
            background-position: left 20px bottom;
    */
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
        }
        
        &__block {
            width: 310px;
            text-align: left;
            
            outline: 1px solid yellowgreen;
        }
        
        &__effect {
        display: block;
        background-color: white;
        
        }
        &__title--big {
            font-size: 30px;
            line-height: 36px;
        }
    }
}
@media (min-width: @desktop-width) {
    .features {
        width: 1200px;
        
        &__text {
            font-size: 50px;
            line-height: 60px;  
            &--diff {
                width: 430px;
                margin-bottom: 240px;
            }
        }
        
        &__wrapper {
            width: 1200px;
            padding: 0 160px;       //идеально по ширине по ПП
            box-sizing: border-box;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            background-image: none;
            &::before {
                top: -190px;
            }
        }
        
        &__block {
            width: 240px;
            text-align: center;
        }
        
        &__title {
            font-size: 30px;
            line-height: 30px;
        }
        
        &__item {
            font-size: 18px;
            line-height: 30px;
        }
    }
} 