.intro {
    width: 320px;
    height: 237px;
    
    background: url("../img/bg-back-mobile@1x.jpg") center 0px no-repeat;
    margin-top: -75px; 
     
    display: flex;
    align-items: flex-end;
    
    &__main-page {
        height: 737px;
        background: url("../img/iphone-hand-mobile@1x.png") left 180px no-repeat,
           url("../img/bg-back-mobile@1x.jpg") center 0px no-repeat; 
    }
    
    &__wrapper {
        padding: 0 20px;
        
        
        &--main-page {
            width: 320px;
            background-color: #1d2631;
            height: 210px;
            padding-top: 30px;
            padding-bottom: 35px;
        }
        
    }
    
    &__slogan {
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 45px;
        
        &--main-page {
            display: none;
        }
        
    }

    &__btn {
        display: block;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        border: 3px solid white;
        border-radius: 30px;
        box-sizing: border-box;
        
        text-align: center;
       padding: 15px;
         margin-bottom: 30px;
        
        &:hover {
            color: @pink;
            background-color: white;
        }
        
        &:active {
            color: @pink-active;
            background-color: white;
        }
    }
    
    &__text {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #f1f1f1;
        
    }
}

.appstores {
        width: 224px;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        
        margin: 0 auto;
        margin-bottom: 30px;
   
    &__apple {
        display: block;
        background-image: url(../icons/apple-logo.svg);
        background-repeat: no-repeat;
        width: 47px;
        height: 56px;
     
    }
    &__android {
        display: block;
        background-image: url(../icons/android-logo.svg);
        background-repeat: no-repeat;
        width: 43px;
        height: 47px;
       
    }
    &__windows {
        display: block;
        background-image: url(../icons/microsoft-logo.svg);
        background-repeat: no-repeat;
        width: 44px;
        height: 41px;
    }
}

@media (min-width: @tablet-width) {
    .intro {
        width: 660px;
        height: 440px;
       background: url("../img/bg-back-tablet@1x.jpg") center 0px no-repeat;
        background-size: auto, cover;
        
               
        align-items: flex-end;
        justify-content: flex-start;
        
        margin-top: -118px;
        
        &__main-page {
            height: 730px;
            background: url("../img/iphone-hand-tablet@1x.png") center 190px no-repeat,
                url("../img/bg-back-tablet@1x.jpg") center 0px no-repeat;
        }
        
        &__wrapper {
            width: 100%;
            text-align: center;
            &--main-page {
                width: 300px;
                height: 500px;
                padding-left: 20px;
                background-color: transparent;
            
                padding: 0 20px;
                padding-bottom: 65px;   
            }
            
        }
        
        &__slogan {
            display: block;
            font-size: 50px;
            line-height: 70px;
            text-align: center;
            margin-bottom: 58px;
            &--main-page {
                
            font-size: 40px;
            line-height: 52px;
            font-weight: 300;
            
            margin: 0;
            padding-top: 40px;
            padding-bottom: 25px;
            }
        }
        &__btn {
            margin-bottom: 35px;
        }
        
        &__text {
        font-size: 16px;
        }
    }
    .appstores {
        width: 240px;
        margin-bottom: 40px;
        &__android {
            opacity: 0.3;
        }
    }
}
@media (min-width: @desktop-width) {
    .intro {
        width: 1200px;
        height: 420px;
        padding: 0;
        background: url("../img/bg-back-desktop@1x.jpg") center 0px no-repeat;
        background-size: auto, cover;
        
        &__main-page {
             height: 853px;
            background: url("../img/iphone-hand-desktop@1x.png") 145px 210px no-repeat,
                url("../img/bg-back-desktop@1x.jpg") center 0px no-repeat;
        }
        
        &__wrapper {
            padding: 0 130px;
           
            &--main-page {
                height: 600px;
                padding-bottom: 80px; 
            }
        }
        
        &__slogan {
            display: block;
            font-size: 50px;
            line-height: 70px;
        }
        &__btn {
            font-size: 21px;
            margin-bottom: 65px;
        }
        &__text {
            width: 310px;
            font-size: 18px;
            line-height: 24px;
     }
    }
    .appstores {
        margin-bottom: 60px;
        &__android {
            opacity: 1;
        }
    }
}