.contacts {
    .mobile-width();
    
    height: 610px;
    background-color: rgba(54,59,167,.5);
}
@media (min-width: @tablet-width) {
    .contacts {
        .tablet-width();
        height: 780px;
    }
}
@media (min-width: @desktop-width) {
    .contacts {
        .desktop-width();
        height: 870px;
    }
}