.reviews {
    .mobile-width();
    
    height: 445px;
    background-color: rgba(185,114,233,.5);
}
@media (min-width: @tablet-width) {
    .reviews {
        .tablet-width();
        height: 440px;
    }
}
@media (min-width: @desktop-width) {
    .reviews {
        .desktop-width();
        height: 565px;
    }
}