.appstores {
    .mobile-width();
    
    height: 737px;
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center 0px;
    
}
@media (min-width: @tablet-width) {
    .appstores {
        width: 300px;
        height: 440px;
        
    }
}
@media (min-width: @desktop-width) {
    .appstores {
        width: 370px;
        height: 570px;
    }
}