.rate-plan {
    .mobile-width();
    
    height: 380px;
    background-color: rgba(152,202,73,0.5);
}
@media (min-width: @tablet-width) {
    .rate-plan {
        .tablet-width();
        height: 290px;
    }
}
@media (min-width: @desktop-width) {
    .rate-plan {
        .desktop-width();
        height: 380px;
    }
}