.photos__main-photo {
    width: 320px;
    height: 330px;
    background-color: forestgreen;
}
@media (min-width: @tablet-width) {
    .photos__main-photo {
        width: 660px;
        height: 630px;
    }
}

@media (min-width: @desktop-width) {
    .photos__main-photo {
        width: 1200px;
        height: 600px;
    }
}