.photos__text {
    height: 185px;
    background-color: cyan;
}
@media (min-width: @tablet-width) {
    .photos__text {
        height: 230px;
    }
}

@media (min-width: @desktop-width) {
    .photos__text {
        height: 240px;
    }
}